In [1]:
import pandas as pd

### Importar dados do estado

In [2]:
estado = pd.read_excel('../arquivos/Arquivo_01_pd.xlsx', sheet_name = 'Estado')

### Visualisar tabela estado

In [3]:
estado.head()

   id_Estado sigla_Estado nome_Estado  id_Regiao
0         11           RO    Rondônia          1
1         12           AC        Acre          1
2         13           AM    Amazonas          1
3         14           RR     Roraima          1
4         15           PA        Pará          1

### Importar dados da região

In [4]:
regiao = pd.read_excel('../arquivos/Arquivo_01_pd.xlsx', sheet_name = 'Regiao')

### Visualisar tabela região

In [5]:
regiao.head()

   id_Regiao sigla_Regiao   nome_Regiao
0          1            N         Norte
1          2           NE      Nordeste
2          3           SE       Sudeste
3          4            S           Sul
4          5           CO  Centro-Oeste

### Importar dados do PIB

In [6]:
pib = pd.read_excel('../arquivos/Arquivo_01_pd.xlsx', sheet_name = 'PIB')

### Visualisar tabela PIB

In [7]:
pib.head()

,id_Estado,ano_PIB,ano_Referencia,valor_Bruto_Agropecuaria,valor_Bruto_Industria,valor_Bruto_Servicos,valor_Bruto_Administracao_Publica,valor_Bruto_Total,valor_Impostos_Liquido,valor_PIB,valor_PIB_percapita,populacao_Projetada,quant_Municipios
0,11,2018,2018,5731718700,7063046291,16082571946,11382452532,40259789475,4654189014,44913978485,25554,1757589,52
1,12,2018,2018,1211596865,1092994192,5860255388,5457210663,13622057107,1709065484,15331122589,17637,869265,22
2,13,2018,2018,5514897806,28935047333,32505662411,17405936167,84361543710,15747691352,100109235067,24533,4080611,62
3,14,2018,2018,640832060,1355496354,4616996334,5653764461,12267089208,1102898514,13369987723,23189,576568,15
4,15,2018,2018,14967854033,45502447425,54001480120,32417333529,146889115113,14460486929,161349602041,18952,8513497,144

### Realizar comando análogo função PROCV

#### PROCV entre PIB e estados

In [8]:
pib = pd.merge(
    pib
    ,estado[['id_Estado', 'nome_Estado', 'id_Regiao']]
    ,left_on = ('id_Estado')
    ,right_on = ('id_Estado')
    ,how = 'inner'
)

#### PROCV entre PIB e regiões

In [9]:
pib = pd.merge(
    pib
    ,regiao[['id_Regiao', 'sigla_Regiao']]
    ,left_on = ('id_Regiao')
    ,right_on = ('id_Regiao')
    ,how = 'inner'
)

In [10]:
del pib['id_Regiao']

### Reoganizar posição da colunas

In [11]:
pib = pib[[
    'nome_Estado'
    ,'sigla_Regiao'
    ,'id_Estado'
    ,'ano_PIB'
    ,'ano_Referencia'
    ,'valor_Bruto_Agropecuaria'
    ,'valor_Bruto_Industria'
    ,'valor_Bruto_Servicos'
    ,'valor_Bruto_Administracao_Publica'
    ,'valor_Bruto_Total'
    ,'valor_Impostos_Liquido'
    ,'valor_PIB'
    ,'valor_PIB_percapita'
    ,'populacao_Projetada'
    ,'quant_Municipios'
]]

In [12]:
pib.head()

,nome_Estado,sigla_Regiao,id_Estado,ano_PIB,ano_Referencia,valor_Bruto_Agropecuaria,valor_Bruto_Industria,valor_Bruto_Servicos,valor_Bruto_Administracao_Publica,valor_Bruto_Total,valor_Impostos_Liquido,valor_PIB,valor_PIB_percapita,populacao_Projetada,quant_Municipios
0,Rondônia,N,11,2018,2018,5731718700,7063046291,16082571946,11382452532,40259789475,4654189014,44913978485,25554,1757589,52
1,Acre,N,12,2018,2018,1211596865,1092994192,5860255388,5457210663,13622057107,1709065484,15331122589,17637,869265,22
2,Amazonas,N,13,2018,2018,5514897806,28935047333,32505662411,17405936167,84361543710,15747691352,100109235067,24533,4080611,62
3,Roraima,N,14,2018,2018,640832060,1355496354,4616996334,5653764461,12267089208,1102898514,13369987723,23189,576568,15
4,Pará,N,15,2018,2018,14967854033,45502447425,54001480120,32417333529,146889115113,14460486929,161349602041,18952,8513497,144